.page {
  margin: 0 auto;
  background-color: var(--bg-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  color: var(--main-text-color);
  line-height: var(--main-line-height);

  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Шапка */
.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr auto;
  align-items: center;
  justify-items: end;
  padding: var(--main-padding);
}

.decorated-zone {
  height: 100vh;
  min-height: 668px;
  position: relative;
}

.decorated-zone::before {
  content: "";
  position: absolute;

  inset-inline-start: var(--main-padding);
  inset-block-end: var(--main-padding);

  inline-size: 25px;
  block-size: 25px;

  border-block-end: 1px solid var(--button-color);
  border-inline-start: 1px solid var(--button-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;

  inset-inline-end: var(--main-padding);
  inset-block-start: var(--main-padding);

  inline-size: 25px;
  block-size: 25px;

  border-block-start: 1px solid var(--button-color);
  border-inline-end: 1px solid var(--button-color);
}

.header__theme-menu {
  justify-self: end;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header__theme-menu-button {
  color: var(--button-color);
  padding: 1.5px 13px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.header__theme-menu-button:hover {
  outline: 1px solid var(--button-hover-border);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--button-color);
}

.header__theme-menu-button_active {
  outline: 1px solid var(--button-color);
  pointer-events: none;
}

.title {
  color: var(--main-header-color);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 82.5%;
  font-weight: var(--header-weight);
}

.header__title {
  text-shadow: 4px 4px 0 var(--shadow-color);
}

.header__description {
  justify-self: end;
  align-self: center;
  width: 100%;
}

.header__rec {
  position: absolute;
  visibility: var(--visible);
  color: var(--button-color);
  text-transform: uppercase;
  inset-block-start: var(--main-padding);
  inset-inline-end: calc(var(--main-padding) + 3px + 25px);
}

.header__rec::after {
  content: "";
  position: absolute;
  visibility: var(--visible);
  block-size: 5px;
  inline-size: 5px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 4px var(--button-color);
  color: var(--button-color);
  background-color: var(--button-color);
  inset-inline-end: -18px;
  inset-block-start: 9px;
}

/* Основной контент */
.content {
  display: grid;
  gap: var(--sections-gap);
  padding: var(--main-content-vertical-padding) var(--main-padding);
}

.section {
  display: grid;
  grid-auto-flow: row;
  gap: var(--header-articles-gap);
}

.section__header {
  color: var(--section-header-color);
  font-size: var(--main-font-size);
  font-weight: var(--header-weight);
  line-height: var(--main-line-height);
}

.section__article-list {
  display: grid;
  gap: var(--articles-gap);
}

.article {
  display: grid;
  gap: 10px;
  grid-template-rows: min-content auto;
}

.header__description,
.section__article-list > .section__header,
.article__header {
  color: var(--article-header-color);
  background-color: var(--article-bg-color);
  font-size: var(--main-font-size);
  font-weight: var(--header-weight);
  line-height: var(--main-line-height);
}

.how .article .article__header {
  font-weight: var(--text-weight);
}

.article__text {
  color: var(--main-text-color);
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
  font-weight: var(--text-weight);
}

.article__text .research-link {
  text-decoration: none;
  text-shadow: 2px 2px var(--link-shadow-color);
}

.article__text .research-link:hover {
  outline: none;
  border-bottom: 1px solid var(--main-text-color);
}

.article__text .research-link:focus {
  outline: none;
}

.article__text .research-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.article__images {
  display: grid;
  gap: var(--main-padding);
}

.article__images-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* Подвал */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: var(--main-padding);
}

.footer__title {
  text-shadow: 2px 2px 0 var(--shadow-color);
}

/* Медиа запросы */
@media (width >= 768px) {
  :root {
    --main-padding: 20px;
    --main-content-vertical-padding: 60px;
    --sections-gap: 80px;
  }

  .why,
  .how {
    grid-template-columns: 1fr 2fr;
  }

  .what .section__header {
    width: calc(100% / 3 - var(--articles-gap));
  }

  .images article {
    gap: 20px;
  }

  .header__title {
    justify-self: left;
    margin-inline-start: calc(-1 * var(--main-padding));
  }

  .title {
    font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header__description {
    width: calc(100% / 2);
  }

  .article__images-image:first-child {
    grid-column: span 2;
  }

  .article__images-image:nth-child(2) {
    grid-row: span 2;
  }

  .article__images-image:nth-child(3) {
    grid-row: span 2;
  }

  .article__images-image:nth-child(5) {
    grid-row: 3/3;
    grid-column: 2/4;
  }
}

@media (width >= 1024px) {
  .what .section__article-list {
    grid-template-columns: repeat(3, 1fr);
  }

  .why,
  .how {
    grid-template-columns: calc((100% - 2 * var(--header-articles-gap)) / 3) 1fr;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    flex-direction: row;
  }
}

/* * { outline: 1px solid yellow; } */
